<%inherit file='base.html'/>

<div class="hero is-fullheight is-primary">

  <nav class="navbar is-transparent pb-3" role="navigation" aria-label="main navigation">
    <div id="main-navbar" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-dark" href="${url}/login">Login</a>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Python Nest</h1>
    </div>
  </div>

</div>
